@font-face{
	font-family: 'Courgette', cursive; 
	src: url("https://fonts.googleapis.com/css?family=Courgette");
	font-family: font-family: 'Merriweather', serif;
	src: url("https://fonts.googleapis.com/css?family=Merriweather");}
	
.album{
	font-family: fantasy;
	font-size: 18px;}

.band{
	color:black;
	font-weight:bold;}

.members{
	line-height:125%;
	line-height:125%;
	font-style: italic;}

.title{
	font-family: 'Courgette', cursive;}
.band{
	font-family: 'Merriweather', serif;}

.img-circle{
	margin:auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;}

tr:nth-child{
	background: #CFDBC5;}

tr{
	font-style: italic;}

.table{
	border-collapse: collapse;
	width: 100%;}
	
@media screen (max-width: 786px)
table,
tbody,
th,
tr,
td{

	display:block;}

tr{
	border:1px solid black;}

td{	border:none;
	bottom-border: 1px solid black;
	position: relative;
	left-padding: 50%;}

td:before{
	position: absolute;
	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;}

	td:nth-of-type(1): before { content: Track #}
	td:nth-of-type(2): before { content: Track Title}
	td:nth-of-type(3): before { content: Track Length}
}




	
