.menu{
	font-size: 17px;}

.color{
	background-color: #DCDCDC;}

form{
	font-weight: bold;}

.footer{
	text-align: center;
	bottom: 0;
	width:100%;
	position: fixed;}

@font-face{
	font-family: BREE SERIF, serif;
	src = url("https://fonts.googleapis.com/css?family=Bree+Serif";}

.header{
	font-family: BREE SERIF;}

.container{
	width: 300%;
	position: fixed;
	text-align: left;}

	
